.borderless {
  --table-border-width: 0px;
  --table-white-space: normal;
  --table-header-border-width: var(--table-border-width);
  --table-column-first-border-width: var(--table-border-width);
  --table-column-last-border-width: var(--table-border-width);
  --table-row-last-border-width: var(--table-border-width);
}

.borderless table thead {
  display: none
}