:root {
  --color-red:    hsl(0, 100%, 60%);
  --color-orange: hsl(30, 100%, 60%);
  --color-yellow: hsl(60, 100%, 60%);
  --color-olive:  hsl(90, 100%, 60%);
  --color-green:  hsl(120, 100%, 60%);
  --color-cyan:   hsl(180, 100%, 60%);
  --color-blue:   hsl(240, 100%, 60%);
  --color-purple: hsl(270, 100%, 60%);
  --color-pink:   hsl(300, 100%, 60%);
  --color-gray:   hsl(0, 0%, 80%);
  --color-black:  hsl(0, 0%, 0%);
  --color-white:  hsl(0, 0%, 100%);

  --mark-red:     hsl(0, 100%, 40%);
  --mark-orange:  hsl(30, 100%, 40%);
  --mark-yellow:  hsl(60, 100%, 40%);
  --mark-olive:   hsl(90, 100%, 40%);
  --mark-green:   hsl(120, 100%, 40%);
  --mark-cyan:    hsl(180, 100%, 40%);
  --mark-blue:    hsl(240, 100%, 40%);
  --mark-purple:  hsl(270, 100%, 40%);
  --mark-pink:    hsl(300, 100%, 40%);
  --mark-gray:    hsl(0, 0%, 30%);
  --mark-black:   hsl(0, 0%, 0%);
  --mark-white:   hsl(0, 0%, 100%);
}

.colored {
  & span.cm-formatting-del,
  & span.cm-del,
  & del {
    text-decoration: unset;
  }

  & span {
    &.red    { color: var(--color-red);    }
    &.orange { color: var(--color-orange); }
    &.yellow { color: var(--color-yellow); }
    &.olive  { color: var(--color-olive);  }
    &.green  { color: var(--color-green);  }
    &.cyan   { color: var(--color-cyan);   }
    &.blue   { color: var(--color-blue);   }
    &.purple { color: var(--color-purple); }
    &.pink   { color: var(--color-pink);   }
    &.gray   { color: var(--color-gray);   }
    &.black  { color: var(--color-black);  }
    &.white  { color: var(--color-white);  }
  }

  & mark {
    color: var(--text-normal);
    &.red    { background-color: var(--mark-red);    }
    &.orange { background-color: var(--mark-orange); }
    &.yellow { background-color: var(--mark-yellow); }
    &.olive  { background-color: var(--mark-olive);  }
    &.green  { background-color: var(--mark-green);  }
    &.cyan   { background-color: var(--mark-cyan);   }
    &.blue   { background-color: var(--mark-blue);   }
    &.purple { background-color: var(--mark-purple); }
    &.pink   { background-color: var(--mark-pink);   }
    &.gray   { background-color: var(--mark-gray);   }
    &.black  { background-color: var(--mark-black);  }
    &.white  { background-color: var(--mark-white);  }
  }
}