.dataview.inline-field-key {
	color: var(--text-accent);
}

.red {
	color: #FF7266;
}

.yellow {
	color: #E5FF66;
}

.green {
	color: #68FF66;
}

.cyan {
	color: #66FFF9;
}

.blue {
	color: #6691FF;
}

.purple {
	color: #B366FF;
}

.pink {
	color: #F466FF;
}
