body {
  --image-border-color:       var(--background-modifier-border);
  --image-border-width:       1px;
  --image-border-padding:     8px;
  --image-border-background:  var(--td);
}

/* Image Positions/Adjustments */
body {
  --micro:     70px;
  --tiny:      100px;
  --small:     200px;
  --small-med: 300px;
  --med-small: 400px;
  --medium:    500px;
  --med-tall:  600px;
  --tall:      700px;
}

/* Mobile */
@media (max-width: 500px) {
  body {
    --radius:    0px;
    --micro:     70px;
    --tiny:      100px;
    --small:     150px;
    --small-med: 200px;
    --med-small: 250px;
    --medium:    300px;
    --med-tall:  450px;
    --tall:      500px;
  }
}
/* Image Sizing */
/* Fit image within bounds WITHOUT stretching */
img:is([alt*=cover], [alt*=cvr]),
.image-embed:is([src*="#cover"], [src*="#cvr"]),
span.image-embed:is([src*="#cover"], [src*="#cvr"]) img {
  object-fit: cover;
}

/* img[alt][alt]:not([alt*=relative])[alt*=h-mc] {
  height: var(--micro);
}
img[alt][alt]:not([alt*=relative])[alt*=h-t] {
  height: var(--tiny);
} */
img[alt][alt]:not([alt*=relative]),
.image-embed[alt][alt*=relative],
div:not(.image-embed) > img[alt][alt*=relative] {
  &[alt*=h-mc] { height: var(--micro); }
  &[alt*=h-t]  { height: var(--tiny); }
  &[alt*=h-s]  { height: var(--small); }
  &[alt*=h-sm] { height: var(--small-med); }
  &[alt*=h-ms] { height: var(--med-small); }
  &[alt*=h-m]  { height: var(--medium); }
  &[alt*=h-ml] { height: var(--med-tall); }
  &[alt*=h-l]  { height: var(--tall); }
  &[alt*=h-f]  { height: 100%; }
  &[alt*=w-mc] { width: var(--micro); }
  &[alt*=w-t]  { width: var(--tiny); }
  &[alt*=w-s]  { width: var(--small); }
  &[alt*=w-sm] { width: var(--small-med); }
  &[alt*=w-ms] { width: var(--med-small); }
  &[alt*=w-m]  { width: var(--medium); }
  &[alt*=w-ml] { width: var(--med-tall); }
  &[alt*=w-l]  { width: var(--tall); }
  &[alt*=w-f]  { width: 100%; }
}

.image-embed[alt][alt*=relative],
div:not(.image-embed) > img[alt][alt*=relative] {
  --micro:     10%;
  --tiny:      20%;
  --small:     30%;
  --small-med: 40%;
  --med-small: 50%;
  --medium:    60%;
  --med-tall:  70%;
  --tall:      85%;
}

.image-embed[alt][alt*=relative],
div:not(.image-embed) > img[alt][alt*=relative] {
  display: block;
  margin: auto;
  max-height: 100%;
  object-fit: cover;
}

/* Height */
/* Image Locations */
/* Center Image */
.img-adj-center.img-adj-center img,
img:is([alt*=ctr], [alt*=center]) {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-adj-center.img-adj-center .is-live-preview img {
  margin-left: auto !important;
  margin-right: auto !important;
}

/* Left & Right */
.markdown-rendered img:is([alt*=left],
[alt*=locl]),
.markdown-rendered img:is([src*="#left"],
[src*="#locl"]),
.markdown-rendered .image-embed:is([alt*=left],
[alt*=locl]),
.markdown-rendered .image-embed:is([src*="#left"],
[src*="#locl"]) {
  float: left;
  margin-right: 2%;
  margin-top: 0px;
  margin-bottom: 0px;
}
.markdown-rendered img:is([alt*=right],
[alt*=locr]),
.markdown-rendered img:is([src*="#right"],
[src*="#locr"]),
.markdown-rendered .image-embed:is([alt*=right],
[alt*=locr]), .markdown-rendered .image-embed:is([src*="#right"],
[src*="#locr"]) {
  float: right;
  margin-left: 2%;
  margin-bottom: 0px;
}

img {
  /* Image Position */
  &[alt*="p-"], .image-embed[src*="#p-"] & { object-fit: cover; }
  /* Inner Image */
  &[alt*="p-c"],   .image-embed[src*="#p-c"]   & { object-position: center; }
  &[alt*="p-t"],   .image-embed[src*="#p-t"]   & { object-position: top; }
  &[alt*="p-b"],   .image-embed[src*="#p-b"]   & { object-position: bottom; }
  &[alt*="p-l"],   .image-embed[src*="#p-l"]   & { object-position: left; }
  &[alt*="p-r"],   .image-embed[src*="#p-r"]   & { object-position: right; }
  &[alt*="p-cl"],  .image-embed[src*="#p-cl"]  & { object-position: 15%; }
  &[alt*="p-ccl"], .image-embed[src*="#p-ccl"] & { object-position: 25%; }
  &[alt*="p-cr"],  .image-embed[src*="#p-cr"]  & { object-position: 60%; }
  &[alt*="p-ccr"], .image-embed[src*="#p-ccr"] & { object-position: 75%; }
  &[alt*="p-tc"],  .image-embed[src*="#p-tc"]  & { object-position: 50% 10%; }
  &[alt*="p-tcc"], .image-embed[src*="#p-tcc"] & { object-position: 50% 20%; }
  &[alt*="p-cct"], .image-embed[src*="#p-cct"] & { object-position: 50% 30%; }
  &[alt*="p-ct"],  .image-embed[src*="#p-ct"]  & { object-position: 50% 40%; }
  &[alt*="p-cb"],  .image-embed[src*="#p-cb"]  & { object-position: 50% 60%; }
  &[alt*="p-ccb"], .image-embed[src*="#p-ccb"] & { object-position: 50% 70%; }
  &[alt*="p-bc"],  .image-embed[src*="#p-bc"]  & { object-position: 50% 80%; }
  &[alt*="p-bcc"], .image-embed[src*="#p-bcc"] & { object-position: 50% 90%; }
}

/* Contrast */

img[alt*=contrast],
.image-embed[src*="contrast"] {
  filter: contrast(5);
}

/* Invert Colors */
img[alt*=invertb],
.image-embed[src*="#invertb"] {
  filter: invert(1) hue-rotate(180deg);
}
img[alt*=invertbc],
.image-embed[src*="#invertbc"] {
  filter: invert(1) hue-rotate(180deg) contrast(1.5);
}
img[alt*=invertbxc],
.image-embed[src*="#invertbxc"] {
  filter: invert(1) hue-rotate(180deg) contrast(10);
}

img:is([alt*=flip-x]  { transform: scale(-1,  1); }
img:is([alt*=flip-y]  { transform: scale( 1, -1); }
img:is([alt*=flip-xy] { transform: scale(-1, -1); }

/* Fit image within bounds WITHOUT stretching */
img[alt*=cover],
img:is([alt*=cover],
[alt*=cvr]),
.image-embed:is([src*="#cover"],
[src*="#cvr"]),
span.image-embed:is([src*="#cover"],
[src*="#cvr"]) img {
  object-fit: cover;
}

/* Fix Float Issues */
img, .image-embed,
h1, h2, h3, h4, h5, h6 {
  clear: both;
}

/* Banners */
img[alt*=banner]:not([width]),
.image-embed[alt*=banner]:not([width]) img {
  display: block;
  object-fit: cover;
  width: 100%;
  margin-bottom: 0px;
  clear: both;
}

img[alt~=banner],
.image-embed[alt~=banner] img,
.image-embed[src*="#banner"] {
  height: var(--small);
}

img[alt~="banner+small"],
.image-embed[alt~="banner+small"] img,
.image-embed[src*="#banner+small"] {
  height: var(--tiny);
}

img[alt~="banner+tall"],
.image-embed[alt~="banner+tall"] img,
.image-embed[src*="#banner+tall"] {
  height: var(--medium);
}

:is(img, .internal-embed)[alt*=sban],
:is(img, .internal-embed)[alt~=sban],
.internal-embed[src*="#sban"] img {
  object-fit: cover;
  width: 100%;
}

/* Portait */
img[alt*=portrait],
.image-embed[alt*=portrait] img {
  object-fit: cover;
}

img[alt~=portrait],
.image-embed[alt~=portrait] img,
.image-embed[src~="#portrait"] {
  height: var(--small-med);
  width: 40%;
}

img[alt~="portrait+small"],
.image-embed[alt~="portrait+small"] img,
.image-embed[src~="#portrait+small"] {
  height: var(--small);
  width: 25%;
}

img[alt~="portrait+tall"],
.image-embed[alt~="portrait+tall"] img,
.image-embed[src~="#portrait+tall"] {
  height: 500px;
  width: 50%;
}

/* Profile */
img[alt*=profile],
.image-embed[alt*=profile] img {
  object-fit: cover;
  border-radius: 50%;
}

img[alt~=profile],
.image-embed[alt~=profile] img,
.image-embed[src*="#profile"] {
  height: var(--tiny);
  width: var(--tiny);
}

img[alt~="profile+medium"],
.image-embed[alt~="profile+medium"] img,
.image-embed[src*="#profile+medium"] {
  height: var(--small);
  width: var(--small);
}

img[alt~="profile+tall"],
.image-embed[alt~="profile+tall"] img,
.image-embed[src*="#profile+tall"] {
  height: var(--medium);
  width: var(--medium);
}

img[alt~=sprf] {
  object-fit: cover;
  border-radius: 100%;
}

/* Image Shapes */
img[alt][alt*=circle] {
  border-radius: 50%;
}

img[alt~=square],
.image-embed[alt~=square] img {
  border-radius: 0;
}

img[alt~=border],
.internal-embed[alt~=border] img {
  border: var(--image-border-width) solid var(--image-border-color);
  padding: var(--image-border-padding);
  background: var(--image-border-background);
}

.image-captions .image-embed::after,
.image-embed[src*="#cap"]::after {
  content: attr(alt);
  color: var(--inactive, var(--faint-text));
  display: block;
  text-align: center;
}

.image-embed[src*="#cap"] {
  display: inline-block;
  & img {
    float: unset !important;
    object-fit: cover;
  }
  &[src*="#h-mc"]  img { height: var(--micro); }
  &[src*="#h-t"]   img { height: var(--tiny); }
  &[src*="#h-s"]   img { height: var(--small); }
  &[src*="#h-sm"]  img { height: var(--small-med); }
  &[src*="#h-ms"]  img { height: var(--med-small); }
  &[src*="#h-m"]   img { height: var(--medium); }
  &[src*="#h-ml"]  img { height: var(--med-tall); }
  &[src*="#h-l"]   img { height: var(--tall); }
  &[src*="#h-f"]   img { height: 100%; }
  &[src*="#w-mc"], &[src*="#w-mc"] img { width: var(--micro); }
  &[src*="#w-t"],  &[src*="#w-t"]  img { width: var(--tiny); }
  &[src*="#w-s"],  &[src*="#w-s"]  img { width: var(--small); }
  &[src*="#w-sm"], &[src*="#w-sm"] img { width: var(--small-med); }
  &[src*="#w-ms"], &[src*="#w-ms"] img { width: var(--med-small); }
  &[src*="#w-m"],  &[src*="#w-m"]  img { width: var(--medium); }
  &[src*="#w-ml"], &[src*="#w-ml"] img { width: var(--med-tall); }
  &[src*="#w-l"],  &[src*="#w-l"]  img { width: var(--tall); }
  &[src*="#w-f"],  &[src*="#w-f"]  img { width: 100%; }
}

.mobile-image-viewer img[alt][alt][alt] {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

ul, ol {
  display: flow-root;
}
