.daily .markdown-reading-view div:nth-child(4) p {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: #565656;
}

.daily .markdown-reading-view div:nth-child(4) p .internal-link {
    text-decoration: none;
    flex-grow: 4;
}

.daily .markdown-reading-view div:nth-child(4) p .internal-link:first-child {
    text-align: left;
    padding-left: 10px;
}

.daily .markdown-reading-view div:nth-child(4) p .internal-link:last-child {
    text-align: right;
    padding-right: 10px;
}