.callout[data-callout-metadata*="label"] {
  --block-spacing: 1rem;
  --speaker-block-width: 20%;
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: var(--speaker-block-width) calc( 100% - var(--speaker-block-width) );
  background-color: var(--background-primary);
  border: none;

  & .callout-title {
    margin-top: 0px;
    display: inline-block;
    text-align: right;
    border-right: 3px solid;
    padding-right: var(--block-spacing);
    flex: 1 0 auto;
  }

  & > * { margin-top: var(--block-spacing); }
  & > .callout-title > .callout-icon { display: none; }
  & > .callout-title > .callout-fold { visibility: hidden; }

  & > .callout-content {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0px var(--block-spacing);
    & > p { margin-bottom: 0px; }
    & > p:first-child { margin-top: 0px; }
    & > p:last-child { margin-bottom: 0px; }
  }
}
