.languageClasses {
  /* ╔═══════════════════════════╗
   * ║ Common formatting options ║
   * ╚═══════════════════════════╝
   */

  /* Highlighting */

  .focus,
  span.cm-formatting-highlight,
  span.cm-highlight,
  mark {
    color: var(--text-accent);
    background-color: unset;
  }

  /* Romanisation  */

  .rom,
  span.cm-formatting-em,
  span.cm-em,
  em {
    color: var(--color-cyan);
    font-style: unset;
  }
  .rom::before,
  em::before {
    content: "<";
  }
  .rom::after,
  em::after {
    content: ">";
  }

  /* IPA */

  .ipa,
  span.cm-formatting-strong,
  span.cm-strong,
  strong {
    color: var(--color-red);
    font-weight: unset;
  }
  .ipa::before,
  .ipa::after,
  strong::before,
  strong::after {
    content: "/";
  }

  /* Empty */

  span.cm-formatting-del,
  span.cm-del,
  del {
    text-decoration: unset;
  }

  /* ╔══════════════╗
   * ║ Words groups ║
   * ╚══════════════╝
   */

  /* ┌───────────────────┐
   * │ Vowels/Consonants │
   * └───────────────────┘
   */
   .vow, .con {
    vertical-align: super;
    font-size: smaller;
   }
  .vow { color: #80ffe3; }
  .con { color: #cc80ff; }

  /* ┌─────────────────┐
   * │ Hard/Soft signs │
   * └─────────────────┘
   */
  .hard { color: #fb464c; }
  .soft { color: #44cf6e; }

  /* ┌───────┐
   * │ Cases │
   * └───────┘
   */
  .nom { color: #8f00ff; }
  .gen { color: #01befe; }
  .dat { color: #00ff4d; }
  .acc { color: #ffee00; }
  .ins { color: #ff7d00; }
  .pre { color: #ff006d; }

  /* ┌─────────┐
   * │ Genders │
   * └─────────┘
   */
  .ma { color: #99ccff; }
  .fe { color: #ff99cc; }
  .nt { color: #ffff99; }

  /* ┌─────────┐
   * │ Numbers │
   * └─────────┘
   */
  .si { color: #8080f0; }
  .pl { color: #80f080; }
  .re { color: #f08080; }

  /* ┌─────┐
   * │ POV │
   * └─────┘
   */
  .st { color: #99ffe2; }
  .nd { color: #e299ff; }
  .rd { color: #ffe299; }
}
