/* text highlights */
/* --------------- */

.theme-dark,
.theme-light {
  --text-highlight-bg: hsl(270, 100%, 40%);
}

/* links */
/* ----- */

.internal-link {
  text-decoration: none;
}

.external-link {
  background: none;
  padding-right: 0;
}