.hideHeader table thead {
  visibility: collapse;
}

.borderless {
  --table-border-width: 0px;
  --table-white-space: normal;
  --table-header-border-width: var(--table-border-width);
  --table-column-first-border-width: var(--table-border-width);
  --table-column-last-border-width: var(--table-border-width);
  --table-row-last-border-width: var(--table-border-width);
}
.borderless table {
  border-collapse: collapse;
  border: none;
}
.borderless td, th {
  border: none;
}
.borderless table thead {
  display: none
}

.wideTable table {
  min-width: 100%;
}

.centered-table td {
  text-align: center;
  vertical-align: middle;
}
